/* Al título del botón de opciones le agregamos sombra, y lo estilizamos */
.dropTitle{
    color: #000;
    background-color: #fff;
    box-shadow: 1px 9px 10px #e8e6e6;
    width: 70%;
    font-size: 18px;
    margin: 1em 3em;
    padding: 1.5em 6em;
    border: 1px solid #dce6f0;
    border-radius: 100px;
    resize: vertical;
}

/* Cuando se pase por encima del botón lo estilizamos para que cambie de color */
.dropTitle:hover{
    color: #fff;
    background-color: #212d5e;
    box-shadow: 1px 9px 10px #dce6f0;
}

/* Alineamos todos los elementos que se encuentran en el contenedor del botón */
.dropContainer{
    display: flex;
    justify-content: center;
}

/* Le damos estilo a la imagen que regresa a la página principal */
.imgReturn{
    margin-top: 5px;
    margin-bottom: -100px;
    margin-left: 100px;
    width: 5%;
}

/* Hacemos nuestro diseño responsivo */
@media screen and (max-width: 360px) {
    .dropTitle{
        width: 70%;
        font-size: 18px;
        margin: 1em 1em;
        padding: 1em 1em;
    }
    .imgReturn{
        margin-top: 30px;
        margin-bottom: -50px;
        margin-left: 40px;
        width: 9%;
        margin-left: 40px;
    }
}